<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
   <!-- 引入公共页头 -->
   <%= require("html-loader!../common/header/index.html") %>
   <section class="banner-container">
     <img src="/public/img/banner2.jpg" alt="">
   </section>
   <section class="download-container clearF center80">
     <div class="download-list-container">
       <ul class="download-list clearF">
         <li class="download-item">
           <a href="">
             <div class="img" style="background-image: url(/public/img/pro1.jpg);"></div>
             <p>Click on the download</p>
           </a>
         </li>
         <li class="download-item">
           <a href="">
             <div class="img" style="background-image: url(/public/img/pro1.jpg);"></div>
             <p>Click on the download</p>
           </a>
         </li>
         <li class="download-item">
           <a href="">
             <div class="img" style="background-image: url(/public/img/pro1.jpg);"></div>
             <p>Click on the download</p>
           </a>
         </li>
         <li class="download-item">
           <a href="">
             <div class="img" style="background-image: url(/public/img/pro1.jpg);"></div>
             <p>Click on the download</p>
           </a>
         </li>
         <li class="download-item">
           <a href="">
             <div class="img" style="background-image: url(/public/img/pro1.jpg);"></div>
             <p>Click on the download</p>
           </a>
         </li>
         <li class="download-item">
           <a href="">
             <div class="img" style="background-image: url(/public/img/pro1.jpg);"></div>
             <p>Click on the download</p>
           </a>
         </li>
       </ul>
       <div class="pagelist">
         <a href="">Prev</a>
         <a href="" class="active">1</a>
         <a href="">2</a>
         <a href="">3</a>
         <a href="">Next</a>
       </div>
     </div>
   </section>
   <!-- 引入公共页尾 -->
   <%= require("html-loader!../common/footer/index.html") %>
  </body>
</html>
