<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container">
      <img src="/public/img/banner.jpg" alt="">
    </section>
    <section class="product-container clearF center80">
      <!-- <div class="module-title">
      <h2 class="en-title">BLUERISE</h2>
   </div> -->
      <div class="left-product-swiper fl">
        <div class="product-swiper swiper-container">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <img src="/public/img/pro1.jpg" alt="">
            </li>
            <li class="swiper-slide">
              <img src="/public/img/pro1.jpg" alt="">
            </li>
            <li class="swiper-slide">
              <img src="/public/img/pro1.jpg" alt="">
            </li>
          </ul>
          <div class="swiper-button-next swiper-button-white"></div>
          <div class="swiper-button-prev swiper-button-white"></div>
        </div>
        <div class="swiper-container gallery-thumbs">
          <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(/public/img/pro1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(/public/img/pro1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(/public/img/pro1.jpg)"></div>
          </div>
        </div>
      </div>
      <div class="right-product-cont fl">
        <h2 class="title">
          BLUERISE
        </h2>
        <ul class="info-list">
          <li class="info-item">
            <h3 class="title">
              <span>电缆</span>
            </h3>
            <div class="note">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum id sunt consectetur veritatis omnis vitae
              fugiat aperiam corrupti enim iure accusamus molestias necessitatibus, pariatur repudiandae quibusdam amet
              cupiditate eius! Hic.
            </div>
          </li>
          <li class="info-item">
            <h3 class="title">
              <span>电缆</span>
            </h3>
            <div class="note">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum id sunt consectetur veritatis omnis vitae
              fugiat aperiam corrupti enim iure accusamus molestias necessitatibus, pariatur repudiandae quibusdam amet
              cupiditate eius! Hic.
            </div>
          </li>
          <li class="info-item">
            <h3 class="title">
              <span>电缆</span>
            </h3>
            <div class="note">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum id sunt consectetur veritatis omnis vitae
              fugiat aperiam corrupti enim iure accusamus molestias necessitatibus, pariatur repudiandae quibusdam amet
              cupiditate eius! Hic.
            </div>
          </li>
          <li class="info-item">
            <h3 class="title">
              <span>电缆</span>
            </h3>
            <div class="note">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum id sunt consectetur veritatis omnis vitae
              fugiat aperiam corrupti enim iure accusamus molestias necessitatibus, pariatur repudiandae quibusdam amet
              cupiditate eius! Hic.
            </div>
          </li>
        </ul>
        <a href="" download="" class="btn">下载图纸</a>
      </div>
    </section>
    <section class="details-container center80">
      <h2 class="details-title">
        <span>product details</span>
      </h2>
      <div class="details-content">
        <video class="details-video" controls poster=""
          src="http://qiniuyun.fangrenjiaoyu.com/%E5%AD%A6%E5%91%98%E4%BD%9C%E5%93%81%E5%AE%A3%E4%BC%A0.mp4"></video>
        <p style="font-size: 16px;line-height:2;margin-bottom: 20px;">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi nesciunt voluptatem atque magni harum iste eos
          autem. Dicta dolor fugit veniam adipisci, eligendi laudantium assumenda laborum nobis facilis? Doloremque,
          eum?
        </p>
        <p style="font-size: 16px;line-height:2;margin-bottom: 20px;">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi nesciunt voluptatem atque magni harum iste eos
          autem. Dicta dolor fugit veniam adipisci, eligendi laudantium assumenda laborum nobis facilis? Doloremque,
          eum?
        </p>
        <p style="font-size: 16px;line-height:2;margin-bottom: 20px;">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi nesciunt voluptatem atque magni harum iste eos
          autem. Dicta dolor fugit veniam adipisci, eligendi laudantium assumenda laborum nobis facilis? Doloremque,
          eum?
        </p>

      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>