<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
   <!-- 引入公共页头 -->
   <%= require("html-loader!../common/header/index.html") %>
    <section class="module banner-swiper swiper-container">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <img src="/public/img/banner01.png" alt="">
        </li>
        <li class="swiper-slide">
          <img src="/public/img/banner01.png" alt="">
        </li>
      </ul>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </section>





    <section class="module video-container center80">
      <video controls poster="" src="http://qiniuyun.fangrenjiaoyu.com/%E5%AD%A6%E5%91%98%E4%BD%9C%E5%93%81%E5%AE%A3%E4%BC%A0.mp4"></video>
    </section>





    <section class="product-categories-container module">
      <div class="center80">
        <div class="module-title">
          <h2 class="en-title">Product categories</h2>
          <p class="note">focus on beauty for your life</p>
        </div>
        <ul class="product-categories-list clearF">
          <li class="product-categories-item">
            <a href="">
            <div class="img" style="background-image: url(/public/img/pro-cate1.png);"></div>
            <p>Sports</p>
            </a>
          </li>
          <li class="product-categories-item">
            <a href="">
            <div class="img" style="background-image: url(/public/img/pro-cate1.png);"></div>
            <p>Daily fast-selling</p>
            </a>
          </li>
          <li class="product-categories-item">
            <a href="">
            <div class="img" style="background-image: url(/public/img/pro-cate1.png);"></div>
            <p>Pet supplies</p>
            </a>
          </li>
          <li class="product-categories-item">
            <a href="">
            <div class="img" style="background-image: url(/public/img/pro-cate1.png);"></div>
            <p>Outdoor</p>
            </a>
          </li>
        </ul>
      </div>
    </section>




    
    <section class="product-center-container module">
      <div class="center80">
        <div class="module-title">
          <h2 class="en-title">Product center</h2>
        </div>
        <!-- <ul class="tabs-list">
          <li class="tab-item active">Sports</li>
          <li class="tab-item">Daily fast-selling</li>
          <li class="tab-item">Pet supplies</li>
          <li class="tab-item">Outdoor</li>
        </ul> -->
        <ul class="product-list clearF">
          <li class="product-item">
            <a href="/product_view.html">
              <div class="img" style="background-image: url(/public/img/pro1.jpg);"></div>
              <p>BD</p>
            </a>
          </li>
          <li class="product-item">
           <a href="/product_view.html">
             <div class="img" style="background-image: url(/public/img/pro1.jpg);"></div>
             <p>BD</p>
           </a>
          </li>
          <li class="product-item">
           <a href="/product_view.html">
             <div class="img" style="background-image: url(/public/img/pro1.jpg);"></div>
             <p>BD</p>
           </a>
          </li>
          <li class="product-item">
            <a href="/product_view.html">
              <div class="img" style="background-image: url(/public/img/pro1.jpg);"></div>
              <p>BD</p>
            </a>
          </li>
          <li class="product-item">
           <a href="/product_view.html">
             <div class="img" style="background-image: url(/public/img/pro1.jpg);"></div>
             <p>BD</p>
           </a>
          </li>
          <li class="product-item">
           <a href="/product_view.html">
             <div class="img" style="background-image: url(/public/img/pro1.jpg);"></div>
             <p>BD</p>
           </a>
          </li>
        </ul>
        <div class="center80 more-container">
          <a href="" class="more">view more</a>
        </div>
      </div>
    </section>
    <section class="story-container" style="background-image:linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/public/img/story.jpg);">
      <div class="module-title">
        <h2 class="en-title">Brand story</h2>
      </div>
      <div class="story-view center80">
        The origin of Bluerise is when founder Liu Sha first saw the rising sun on the Aegean Sea in Greece. The blue sea surface revealed the faint light of the sun, the beautiful sight made him feel refreshed. Mr. Liu Sha's rich work experience symbolized the strong energy accumulated by the rising sun, the sea level symbolized the world, this new international brand is the "sun" with strong energy rising in the world. Then he returned to China to set up his own brand, and named it Bluerise, according to the rising sun of the blue sea. Which symbolized the brand's vision for the future, Mr Liu Sha wanted to give every customer the warmest shopping experience.
      </div>
    </section>
    <section class="message-container">
      <div class="module-title">
        <h2 class="en-title">Leave us message</h2>
        <p class="note">We will provide quality service, pursue quality, try our best to do everything!</p>
      </div>
      <form action="" id="message-form">
        <input type="text" placeholder="name">
        <input type="text" placeholder="phone">
        <textarea name="" id="" cols="30" rows="10" placeholder="Message content"></textarea>
        <button type="submit">submit</button>
      </form>
    </section>
   <!-- 引入公共页尾 -->
   <%= require("html-loader!../common/footer/index.html") %>
  </body>
</html>
